@model HelpDesk.Models.City

@{
    ViewData["Title"] = "Details";
}

<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">City Details</h6>
        </div>
        <hr />
        <table class="table table-bordered table-hover table-responsive-lg">
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.PostalCode)</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.PostalCode)</td>
            </tr>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Country)</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.Country.Name)</td>
            </tr>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.CreatedBy)</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.CreatedBy)</td>
            </tr>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.CreatedOn)</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.CreatedOn)</td>
            </tr>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.ModifiedBy)</td>
            </tr>
            <tr>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                <td class="col-sm-10">@Html.DisplayFor(model => model.ModifiedOn)</td>
            </tr>
        </table>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
